<div class="row">
  <div class="col-sm-6" style="margin:50px auto">
      <div class="card bg-light border-secondary">
          <div class="card-header bg-dark">
              <h1 class="text-light display-4">CREATE POST</h1>
          </div>
          <div class="card-body">
              <form name="createPostForm">
                      <div class="form-group">
                          <label for="createTitle">Title</label>
                          <input type="text" class="form-control" name="title" id="createTitle" placeholder="title" [(ngModel)]="createPost.title">
                      </div>
                      <div class="form-group">
                          <label for="createDescription">Description</label>
                          <textarea class="form-control" name="description" id="createDescription" placeholder="description" [(ngModel)]="createPost.description"></textarea>
                      </div>
                  <button type="submit" class="btn btn-info" (click)="submitPost()">Publish</button>
              </form>
          </div>
      </div>
  </div>
</div>